#ukr1{
    height: 300px;
    background-color: blue;

}
#ukr2{
    height: 300px;
    background-color: yellow;
    
}
#ru1{
    height: 200px;
    background-color: whitesmoke;

}
#ru2{
    height: 200px;
    background-color: blue;

}
#ru3{
    height: 200px;
    background-color: rgb(255, 0, 0);
    
}
#arg1{
    height: 200px;
    background-color: rgb(1, 148, 216);

}
#arg2{
    height: 200px;
    background-color: whitesmoke;
}
#ger1{
    height: 200px;
    background-color: black;

}
#ger2{
    height: 200px;
    background-color: red;

}
#ger3{
    height: 200px;
    background-color: yellow;
}
#bol1{
    height: 200px;
    background-color: whitesmoke;

}
#bol2{
    height: 200px;
    background-color: green;

}
#bol3{
    height: 200px;
    background-color: rgb(255, 0, 0);
    
}
#sp1{
    height: 150px;
    background-color: red;

}
#sp2{
    height: 350px;
    background-color: yellow;
}
#eg1{
    height: 150px;
    background-color: red;

}
#eg2{
    height: 200px;
    background-color: whitesmoke;

}
#eg3{
    height: 200px;
    background-color: black
    
}
#fr1{
    height:400px;
    background-color: blue;
    display: inline-block;
    width: 230px;

}
#fr2{
    height: 400px;
    background-color: whitesmoke;
    display: inline-block;
    width: 230px;

}
#fr3{
    height: 400px;
    background-color: red
    ;
    display: inline-block;
    width: 230px;
}
#irl1{
    height:400px;
    background-color: green;
    display: inline-block;
    width: 230px;

}
#irl2{
    height: 400px;
    background-color: whitesmoke;
    display: inline-block;
    width: 230px;

}
#irl3{
    height: 400px;
    background-color: orange;
    display: inline-block;
    width: 230px;
}
#fr1{
    height:400px;
    background-color: blue;
    display: inline-block;
    width: 230px;

}
#fr2{
    height: 400px;
    background-color: whitesmoke;
    display: inline-block;
    width: 230px;

}
#fr3{
    height: 400px;
    background-color: red
    ;
    display: inline-block;
    width: 230px;
}
#irl1{
    height:400px;
    background-color: green;
    display: inline-block;
    width: 230px;

}
#fr1{
    height:400px;
    background-color: blue;
    display: inline-block;
    width: 230px;

}
#it1{
    height: 400px;
    background-color: green;
    display: inline-block;
    width: 230px;

}
#it2{
    height: 400px;
    background-color: whitesmoke
    ;
    display: inline-block;
    width: 230px;
}
#it3{
    height:400px;
    background-color: red;
    display: inline-block;
    width: 230px;

}
#mex1{
    height: 400px;
    background-color: green;
    display: inline-block;
    width: 200px;

}
#mex2{
    height: 400px;
    background-color: whitesmoke
    ;
    display: inline-block;
    width: 290px;
}
#mex3{
    height:400px;
    background-color: red;
    display: inline-block;
    width: 200px;

}
#tai1{
    height: 100px;
    background-color: red;

}
#tai2{
    height: 100px;
    background-color: whitesmoke;
}
#tai3{
    height: 200px;
    background-color: blue;
 
}

#pt1{
    height: 400px;
    background-color: green;
    display: inline-block;
    width: 200px;

}
#pt2{
    height: 400px;
    background-color: rgb(255, 0, 0);
    display: inline-block;
    width: 400px;
}
#sv1{
    height: 150px;
    background-color: blue;
    display: inline-block;
    width: 400px;
}
#sv3{
    height: 150px;
    background-color: yellow;
    display: inline-block;
    width: 100px;
}
#sv4{
    height: 150px;
    background-color: blue;
    display: inline-block;
    width: 680px;
}
#sv2{
    height:100px;
    background-color: yellow;
}
#sv5{
    height: 350px;
    background-color: blue;
    display: inline-block;
    width: 400px;
}
#sv6{
    height: 350px;
    background-color: yellow;
    display: inline-block;
    width: 100px;
}
#sv7{
    height: 350px;
    background-color: blue;
    display: inline-block;
    width: 680px;
}


